<% layout("./layouts/Boilerplate.ejs") %>
    <div class="row">
        <div class="offset-3 col-8 mb-2 ">
            <h1><%= listing.title%></h1>
        </div>
        <div class="offset-3 col-6 listing-card">
            <div class="">
  <img src="<%= listing.image %>" class="card-img-top" alt="...">
  <div class="card-body mt-2">
    <p class="card-text">
        Owned by  <%= listing.owner.username %>  </p>
        <p class="card-text"><%= listing.description %></p>
         <p class="card-text"><%= listing.price.toLocaleString("en-IN")%>/ night </p>
         <p class="card-text"><%= listing.location %></p>
         <p class="card-text"><%= listing.country %></p>
   
  </div>
</div>
        </div>
    </div>

    <% if(CurrUser && CurrUser._id.equals(listing.owner._id)){%>
    <div class="btns mt-4 mb-4">
        <a href="/listings/<%= listing._id%>/edit" class="btn btn-dark add-btn col-1 offset-3"> Edit</a>
        <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
            <button class="btn btn-dark offset-5">Delete</button>
        </form>
    </div>
    <% } %>

    <% if(CurrUser) { %>
<div class="row">
    <div class="offset-3 col-8">
        <hr>
            <h4>Leave a review</h4>
          <form action="/listings/<%= listing._id%>/reviews" method="post" novalidate class="needs-validation">
            <div class="mb-1">
                <label for="rating" class="form-label">Rating</label>
                <input type="range" min="1" max="5" name="review[rating]" id="rating" class="form-control form-range" required>
            </div>
             <div class="mb-3">
                <label for="comment" class="form-label">Comments</label>
                <textarea name="review[comment]" id="comment" class="form-control" required></textarea>
                                <div class="invalid-feedback">Invalid comment</div>
            </div>
            <button type="submit" class="btn btn-light">Submit</button>
          </form>
    </div>
</div> 
<% } %>
<div class="col-8 offset-3 mt-4 ">
    <h4>All reviews</h4>
    <div class="row ">
   <% for(r of listing.reviews){ %>
    <div class="card col-5 mt-4 mb-3 ms-3">
  <div class="card-body">
    <h5 class="card-title">@<%= r.author.username %></h5>
    <p class="card-text"><%= r.comment %></p>
    <p class="card-text"><%= r.rating %></p>
     <% if(CurrUser && CurrUser._id.equals(listing.owner._id)){%>
    <form class="mb-3" method="POST" action="/listings/<%= listing._id%>/reviews/<%= r._id%>?_method=DELETE">
        <button class="btn btn-sm btn-dark">Delete</button>
    </form>
    <% } %>
    </div>
  </div>
    <% } %>
</div>
</div>